.main-div-add-tasks {
    position: absolute;
    top: 180px;
    left: 328px;
    padding: 0 64px 128px 0;
}

.vertical-line { padding: 0 64px; }

.vertical-line img { height: 100%; }

input, select, textarea { color: #D1D1D1; }

select {
    outline: none;
    width: 100% !important;
    color: black;
}
    
textarea {
    height: 80px;
    outline: none;
    font-family: 'Inter';
    resize: none;
}

div.priority > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

div.priority > div img {
    width: 140px;
    height: 56px;
    border-radius: 10px;
}

.priorityImg:hover { box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2) ; }

.filter-none { filter: none; }

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(/assets/img/event.svg) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.acronym-small { padding: 6px; }

.alreadyAssigned {
    border-color: rgb(0, 255, 38) !important;
    transition: border-color 500ms ease-in;
}  

div.login-input { background-color: white; }

input#subtasks { width: 95%; }

div.subtasks-main > div { height: 28px; }

#cancle:hover,
#accept:hover { 
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.blueBorderThin { border: 1px solid #29ABE2 !important; }

.listElements {
    width: 422px;
    word-wrap: break-word;
}

#displaySubtasks > div {
    padding: 4px 8px;
    width: 450px;
}

.sub-pseudo:hover { 
    background-color: rgba(0, 0, 0, 0.05); 
    border-radius: 8px;
    cursor: pointer;
}

/* #displaySubtasks > div > div {
    word-break: break-all;
} */

#displaySubtasks > div:hover #subtask-delete-accept { 
    opacity: 1; 
    cursor: pointer;
}

.no-outline { border-bottom: 1px solid #29ABE2; }

ul { 
    margin: 0;
    padding-right: 4px;
    padding-left: 0; 
    word-break: break-all;
    list-style: none;
}

li { 
    outline: none;
    position: relative;
    padding-left: 40px; /* Adjust as needed */
 }

 li::before {
    content: '\2022';
    color: #000; 
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px; 
  }

.icon-hover:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
}

.col-red { color: red; }

.submit-section > button { padding: 16px; }