.main-div-add-tasks {
    position: absolute;
    top: 180px;
    left: 328px;
    padding: 0 64px 128px 0;
}

.vertical-line { padding: 0 64px; }

.vertical-line img { height: 100%; }

input, select, textarea { color: #D1D1D1; }

select {
    outline: none;
    width: 100% !important;
    color: black;
}
    
textarea {
    height: 80px;
    outline: none;
    font-family: 'Inter';
    resize: none;
    /* resize: vertical; */
}

.priority > div > div {
    display: flex;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 10px;
    cursor: pointer;
}

.priority > div > div:hover { 
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); 
    cursor: pointer;
}

/* #prio-high { background-color: white; } */

.bgc-prio-default { background: var(--white, #FFF) }
.bgc-prio-high { background-color: #FF3D00;}
.bgc-prio-medium { background-color: #FFA800; }
.bgc-prio-low { background-color: #7AE229; }

.col-red { color: red; }

.submit-section > button { padding: 16px; }