.main-div-add-tasks {
    position: absolute;
    top: 180px;
    left: 328px;
    padding: 0 64px 128px 0;
}

.vertical-line { padding: 0 64px; }

.vertical-line img { height: 100%; }

input, select, textarea { color: #D1D1D1; }

select {
    outline: none;
    width: 100% !important;
    color: black;
}
    
textarea {
    height: 80px;
    outline: none;
    font-family: 'Inter';
    resize: none;
    /* resize: vertical; */
}

div.priority > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    /* padding: 16px 10px; */
    /* flex: 1 0 0; */
}

div.priority > div img {
    width: 140px;
    height: 56px;
}

div.priority > div img:hover {
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.4));
}

.filter-none { filter: none; }

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(/assets/img/event.svg) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.acronym-small {
    padding: 6px;
}

.alreadyAssigned {
    border-color: rgb(0, 255, 38) !important;
    transition: border-color 500ms ease-in;
}   

.col-red { color: red; }

.submit-section > button { padding: 16px; }