.main-div-board {
    position: absolute;
    top: 180px;
    left: 328px;
}

.main-div-board > div { padding-bottom: 64px; }

.addTask-btn { 
    padding: 8px 16px !important; 
    height: 50px;
}

.addTask-btn-small {
    border-radius: 12px;
}

.search-field {
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
    padding: 16px 8px;
    border-radius: 10px;
    color: #DADADA;
}

.plus:hover { content: url('/assets/img/Property 1=Variant2.svg'); }

.content-column {
    height: 100vh;
    width: 252px;
}

.drag-drop > div { width: 252px; }

.task {
    width: 220px;
    padding: 16px;
    border-radius: 24px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    gap: 10px;
    margin-bottom: 16px;
    cursor: pointer;
}

.task:active { rotate: 5deg; }

.task > div { display: flex; }

.task-category {
    width: fit-content;
    padding: 4px 16px;
    border-radius: 8px;
}

.task-title {
    color: var(--Version-2-main-color, #2A3647);
}

.subtasks { padding: 6px 16px; }

.col-grey { color: var(--icon, #A8A8A8); }

.acronym-dimensions-small {
    width: 32px !important;
    height: 32px !important;
    margin-left: -5px;
    border: 1px solid white !important;
}

.acronym-dimensions-medium {
    width: 42px !important;
    height: 42px !important;
    border: 2px solid white !important;
}

.contacts-padding { padding: 7px 16px; }

.pl-6px { padding-left: 5px; }

progress {
    width: 140px; 
    height: 8px;
    appearance: none;
}

.remove-margin { margin: 0 !important; }

.tasks-overlay-view,
#edit-task-overlay-view {
    word-break: break-word;
    width: 466px;
    padding: 48px 40px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

#edit-task-overlay-view > div > img { margin-right: -16px; }

button:hover > img.tick { content: url('/assets/img/check-white-blue.svg'); }

.tasks-overlay-view > div {
    margin-bottom: 24px;
}

#add-tasks-overlay-view {
    height: 690px;
    padding: 64px;
    border-radius: 30px;
    background-color: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.prio-border { box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10); }

.search-field {
    width: 280px;
    padding: 8px 16px;
    background-image: url(/assets/img/subtasks_vector.svg), url(/assets/img/search.svg);
    background-position-x: 80%, 94%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    height: 32px;
}

/* Hover effect über lupen symbol einfügen */
/* .search-field::after:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
} */

progress::-webkit-progress-value {
    border-radius: 16px;
    background: var(--Version-2-main-color, #4589FF);
}

progress::-webkit-progress-bar {
    border-radius: 16px;
    background-color: #F4F4F4; 
}

#priortiy-container-overlay img {
    width: 160px;
}

.noDrop {}