.body-login {
    position: relative;
    height: 100vh;
}

.login-error { border: 1px solid red; }

.login-invisible { opacity: 0; }

.login {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}

.capa-2-div {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.capa-2 {
    width: 274px;
    height: 334px;
    z-index: 2;
}

.x-translate-capa2 {
    width: 100px;
    height: 122px;
    transform: translate(-75vh, -34vh);
    transition: width 1000ms ease-in-out, height 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.sign-up-section {
    position: absolute;
    top: 10vh;
    right: 122px;
    z-index: 2;
}

.log-in {
    margin: 564px 0 64px 0;
    padding: 48px 115px;
    gap: 32px;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04); 
}

div.log-in > div {
    display: flex;
    align-items: center;
}

.icon-password { 
    background-repeat: no-repeat;
    background-image: url(/assets/img/lock.png);
}

.input-name {
    background-repeat: no-repeat;
    background-image: url(/assets/img/person.png);
}

.btn-light {
    border-radius: 8px;
    border: 2px solid var(--version-2-main-color, #2A3647);
    background: var(--white, #FFF);
    color: var(--version-2-main-color, #2A3647);
    padding: 15px 24px;
}

.btn-light:hover {
    border: 2px solid #29abe2; 
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.5);
}

.guestLogIn-btn {
    border-radius: 8px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    background: var(--white, #FFF);
}

.privacy-policy { margin: 100px 0 64px 0; }

.privacy-policy a { color: #A8A8A8; }

.privacy-policy a:hover { 
    color: #29ABE2; 
    font-weight: 700;
}

.change-col-bl { color: #29ABE2; }

.sign-up { position: relative; }

.arrow-back {
    position: absolute;
    top: 62px;
    left: 48px;
    cursor: pointer;
}

.checkbox-hint {
    scale: 1.1;
    transition: scale 1000ms ease-in-out;
}

.checkbox-default {
    scale: 1;
    transition: scale 500ms ease-in-out;
}

@media only screen and (max-width: 1400px) {
    .capa-2 { transform: translate(-30vh, -34vh); }
}

@media only screen and (max-width: 1000px) {
    .capa-2 { transform: translate(-26vh, -34vh); }
}

@media only screen and (max-width: 700px) {
    .capa-2 { transform: translate(-22vh, -34vh); }
}

@media only screen and (max-width: 600px) {
    #sign-up-section { display: none; }

    #sign-up-section-responsive { opacity: 1; }

    div.login-input { width: 322px; }

    .capa-2 {
        height: 78px;
        width: 64px;
        transform: translate(-15vh, -40vh);
    }

    .sign-up-section {
        top: 715px;
        left: 50%;
        right: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap
    }

    .log-in {
        padding: 32px 16px;
        margin-top: 364px;
    }

    .log-in > div > form > div.flex.x-center.gap-35px {
        align-items: center;
        gap: 21px;
        flex-direction: column;
    }

    .log-in > div > form > div.flex.x-center.gap-35px button {
        width: 180px;
        font-size: 16px;
    }

    div.log-in > div > span { font-size: 47px; }

    div.log-in > div > img { width: 88px; }
}

@media only screen and (max-width: 500px) {
    .arrow-back {
        top: 45px;
        left: 16px;
    }
}

@media only screen and (max-width: 400px) {
    div.login-input { width: 230px; }

    .capa-2 { transform: translate(-8vh, -40vh); }

    .log-in { padding: 32px 12px; }

    .sign-up-section > span { margin-right: 24px; }
}