.side-topbar-template { height: 100vh; }

.sidebar {
    min-height: 100vh;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    flex-shrink: 0;
    transition: width 0.3s ease; /* Transition for smooth change side- to bottombar and reverse */
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.set-span { margin-left: 348px; }

.side-topbar-template > .topbar img { cursor: pointer; }

div.topbar > div.sign-up > img:hover { scale: 1.1; }

#legal-notice { width: 240px; }

#legal-notice > div > a:hover,
#lega-notice > div > span:hover,
footer > a:hover
{ color: #29ABE2; font-weight: 700; }

.sign-up { margin-right: 40px; }

.menu-choose:hover,
#log-out > a:hover
 { background-color: rgb(39, 58, 88); }

.link-col { 
    color: #CDCDCD; 
    padding: 8px 56px; 
    cursor: pointer;
}

.profil-icon {
    position: absolute;
    right: 54px;
}

#log-out {
    z-index: 1;
    position: fixed;
    top: 104px;
    right: 20px;
    height: 138px;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#log-out a {
    padding: 8px 16px;
    color: #CDCDCD;
}

.login { 
    position: relative;
    width: 64px;
    height: 64px; 
}

.login span {
    position: absolute;
    top: 22px;
    left: 22px;
}

.login img { position: absolute; }

.round-logout {
    border-radius: 50%;
    border: 3px solid #2A3647;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.round-logout:hover { background-color: rgba(0, 0, 0, 0.1); }

@media only screen and (max-width: 800px) {
    #sidebar { font-size: 14px; }

    .sidebar {
        width: 100%;
        min-height: auto;
        top: auto;
        bottom: 0;
    }
}