body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
}

/* Style scorllbar */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-track-piece  { 
    background-color: white;
    border-bottom: none;
    border-top: none; 
}
::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #A8A8A8;
    border-radius: 22px;
}

a { text-decoration: none; }

/* Pseudo classes */
.flex { display: flex; }

.x-center { justify-content: center; }

.x-space-betw { justify-content: space-between; }

.x-space-evenly { justify-content: space-evenly; }

.x-space-around { justify-content: space-around; }

.x-start { justify-content: flex-start; }

.x-end { justify-content: flex-end;}

.y-center { align-items: center; }

.y-start { align-items: flex-start; }

.flex-column { flex-direction: column; }

.flex-row { flex-direction: row; }

.mb-4px { margin-bottom: 4px; }

.mb-5px { margin-bottom: 5px; }

.mb-8px { margin-bottom: 8px; }

.mb-12px { margin-bottom: 12px; }

.mb-16px { margin-bottom: 16px; }

.mb-24px { margin-bottom: 24px; }

.mb-28px { margin-bottom: 28px;}

.mb-32px { margin-bottom: 32px; }

.mb-48px { margin-bottom: 48px; }

.mb-64px { margin-bottom: 64px; }

.mb-96px { margin-bottom: 96px; }

.mb-128px { margin-bottom: 128px; }

.mb--128px { margin-bottom: -128px; }

.ml-16px { margin-left: 16px; }

.ml-39px { margin-left: 39px; }

.mr-16px { margin-right: 16px; }

.mt-24px { margin-top: 24px; }

.mr-4px { margin-right: 4px; }

.mr-8px { margin-right: 8px; }

.mr-32px { margin-right: 32px; }

.mr-35px { margin-right: 35px; }

.mt-48px { margin-top: 48px; }

.mt-64px { margin-top: 64px; }

.p-btn { padding: 15px 16px !important; }

.p-zero { padding: 0 !important;}

.p-4px { padding: 4px; }

.p-6px { padding: 6px; }

.p-8px { padding: 8px; }

.p-12px { padding: 12px; }

.p-16px { padding: 16px; }

.p-lr { padding: 0 4px; }

.gap-4px { gap: 4px; }

.gap-8px { gap: 8px; }

.gap-16px { gap: 16px; }

.gap-26px { gap: 26px; }

.gap-32px { gap: 32px; }

.gap-35px { gap: 35px; }

.fs-12px { font-size: 12px; }

.fs-16px { font-size: 16px; }

.fs-20px { font-size: 20px; }

.fs-21px { font-size: 21px; }

.fs-23px { font-size: 23px; }

.fs-27px { font-size: 27px; }

.fs-47px { font-size: 47px; }

.fs-61px { font-size: 61px; }

.fs-64px { font-size: 64px; }

.fw-400 { font-weight: 400; }

.fw-500 { font-weight: 500; }

.fw-700 { font-weight: 700; }

.txt-center { text-align: center; }

.col-white { color: #FFFFFF; }

.col-black { color: #000000; }

.col-light-blue { color: #29abe2; }

.dark-blue { color: #2A3647; }

.bg-dark-blue { background-color: #2A3647; }

.bg-white { background-color: white; }

.w-100 { width: 100%; }

.ft-general {
    font-style: normal;
    line-height: 120%;
}

.d-none { display: none; }

.z-ind--1 { z-index: -1; }

.z-ind-0 { z-index: 0; }

.z-ind-1 { z-index: 1; }

.opacity-zero { opacity: 0; }

.opacity-one { opacity: 1; }

.opacity { opacity: 0.1; }

.border-round { border-radius: 50%; }

.c-pointer { cursor: pointer; }

.outline-none {
    outline: none;
}

/* ------------------------------------- */

/* Classes for input fields */
.input-icon-pos {
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 24px;
}

.login-input {
    border-radius: 10px;
    width: 422px;
    border: 1px solid var(--Style, #D1D1D1);
    padding: 12px 21px;
    cursor: pointer;
    font-family: 'Inter';
}

input {
    gap: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.icon-email { 
    background-image: url(/assets/img/mail.png); 
    background-repeat: no-repeat;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder { color: #DADADA; }

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px; 
    height: 20px;
    cursor: pointer; 
    border: 2px solid #2A3647;
    border-radius: 4px;
    margin: 0;
}

.checkbox-checked {
    background-image: url('/assets/img/subtasks_tick.svg');
    background-position-x: 40%;
    background-position-y: 50%;
}

/* Classes for buttons */
.btn-light {
    border-radius: 8px;
    border: 2px solid var(--version-2-main-color, #2A3647);
    background: var(--white, #FFF);
    color: var(--version-2-main-color, #2A3647);
    padding: 15px 24px;
}

.btn-light:hover {
    border: 2px solid #29abe2; 
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.5);
}

 .guestLogIn-btn {
    border-radius: 8px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    background: var(--white, #FFF);
 }

.btn-dark { 
    border-radius: 8px;
    background: #2A3647;
    color: #FFF;
    padding: 15px 24px;
    border: none;
}

.btn-dark:hover { 
    background-color: #29abe2;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.5);
}

button,
.close-cross { cursor: pointer; }

.close-cross { padding: 21px; }

.close-cross > img:hover,
.arrow-back:hover,
.go-back:hover {
    background-color: grey; 
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
}

.go-back { cursor: pointer; }

/* Classses for blue seperators */
.vertical-bl-line { padding: 0 30px; }

.vertical-gr-line { padding: 0 61px; }

/* Classes for color */
.bgc-darkblue { background-color: #091931; }

.col-grey-blue { color: var(--menu-color, #42526E); }

/* Classes with transformation effects */
.x-translate {
    transform: translateX(500vh);
}

.x-translate-task {
    transform: translateX(550vh);
}

.x-transition {
    transition: transform 250ms ease-in-out;
}

/* On hover classes */ 
.edit {
    width: 64px;                     
    height: 25px;
}

.delete {
    width: 84px;
    height: 25px;
}

.delete:hover {
    content: url('/assets/img/delete_onhover.png');
}

.edit:hover {
    content: url('/assets/img/edit_onhover.png');
}

/* .x-translate-zero {
    transform: translateX(0) !important;
    transition: transform 250ms ease-in-out;
} */

/* Media Queries */
@media only screen and (max-width: 1400px) {
    .vertical-line { padding: 0 32px; }
}



@media only screen and (max-width: 1300px) {
    .main-div-add-tasks { padding-right: 0; }

    .main-div-add-tasks > form {
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
    }

    .vertical-line, 
    #required-span { display: none; }

    #displaySelectedContacts-basic { margin-bottom: 32px; }
}

@media only screen and (max-width: 1100px) {
    .greet { display: none; }    
}

@media only screen and (max-width: 1000px) {
    .join-title {font-size: 47px; }

    .vertical-bl-line { padding: 0 20px; }

    .summary-container { left: 290px; }

    #progress-overview div { width: 163px; }
}

@media only screen and (max-width: 900px) {
    .summary-container > div > div > div > span.dark-blue  {font-size: 21px;}

    #first-section > div:first-of-type { width: 196px; }

    #first-section > div:last-of-type { width: 118px; }

    #urgent-tasks { width: 404px; }

    #progress-overview div { width: 158px; }
}

@media only screen and (max-width: 800px) {
    #body-legal-notice {
        display: flex;
        justify-content: center;
    }

    .main-div-legal-notice {
        padding: 180px 24px 0 24px;
        position: unset;
    }

    .join-title { font-size: 61px; }

    .main-div-add-tasks { left: unset;}

    #body-add-tasks {
        display: flex;
        justify-content: center;
    }

    .summary-container > div > div > div > span.dark-blue  { font-size: 27px;}

    #first-section > div:first-of-type { 
        width: 186px;
        gap: 8px;
    }

    #first-section > div:last-of-type { 
        width: 108px; 
        gap: 8px;
    }

    #urgent-tasks { width: 384px; }

    #progress-overview div { width: 148px; }

    .sidebar > img,
    .topbar > span,
    #legal-notice,
    .greet,
    .vertical-bl-line { display: none; }

    #sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #sidebar > a {
        flex-direction: column;
        justify-content: center;
        border-radius: 24px;
        margin-bottom: 0;
        padding: 16px 12px;
        min-width: 68px;
    }

    .topbar > img {
        display: unset;
        margin-left: 40px;
        width: 62px;
    }

    #contacts,
    .main-div-board { left: 0px; }

    .summary-container {
        left: 50%;
        right: 50%;
        padding-bottom: 144px;
        margin-bottom: 150px;
    }

    .summary-container > div > div {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 16px;
    }

    .vector-bl-horizontal {
        display: unset;
        transform: rotate(90deg);
        margin-left: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #to-do,
    #done,
    #urgent,
    #total-tasks,
    #progress,
    #feedback { font-size: 41px; }

    .vertical-gr-line { padding: 0 32px; }

    #first-section > div:first-of-type { width: 166px; }

    #first-section > div:last-of-type { width: 88px; }

    #urgent-tasks { width: 344px; }

    #progress-overview div {
        width: 130px; 
        height: 100px;
    }

    .spacing-to-do:hover,
    .spacing-done:hover,
    #urgent-tasks:hover,
    #progress-overview div:hover { transform: scale(1); }

    #subtasks-content-basic { width: unset; }
}

@media only screen and (max-width: 500px) {
    #first-section > div:first-of-type svg,
    #first-section > div:last-of-type svg {
        width: 60px;
        height: 60px
    }

    .submit-section > button { width: 250px; }

    .main-div-add-tasks > form input,
    .main-div-add-tasks > form textarea, 
    #subtasks-content-basic { width: 300px !important; }

    #form-low-part div.priority, 
    .submit-section button { width: 348px !important; }

    #category { width: 342px; }

    #first-section > div:first-of-type { width: 146px; }

    #first-section > div:last-of-type { width: 68px; }

    #urgent-tasks { width: 304px; }

    #progress-overview div { width: 120px; }

    #sidebar > a { padding: 16px 8px; }

    #priority-container-basic {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .submit-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .submit-section > button {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 400px) {
    .main-div-add-tasks > form input,
    .main-div-add-tasks > form textarea, 
    #subtasks-content-basic { width: 220px !important; }
    
    #assigned-basic,
    #category-basic,
    .priority,
    .submit-section button,
    #form-low-part div.priority { width: 265px !important; }
    
    .main-div-add-tasks > form { align-items: center; }

    #plus-icon-basic,
    #subtask-icons-basic {
        position: absolute;
        right: 50px;
    }

    .main-div-add-tasks, 
    #category,
    #form-low-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #to-do,
    #done,
    #urgent,
    #total-tasks,
    #progress,
    #feedback,
    .join-title,
    .main-div-add-tasks > div > span { font-size: 47px; }

    .summary-container > div > div > div > span.dark-blue, 
    #upcoming-deadline  { font-size: 21px; }

    #first-section > div:first-of-type svg,
    #first-section > div:last-of-type svg,
    #urgent-tasks > div > div > div img {
        width: 50px;
        height: 50px
    }

    .vertical-gr-line { padding: 0 10px; }

    #first-section > div:first-of-type { 
        width: 98px;
        padding: 24px 11px;    
    }

    #first-section > div:last-of-type { 
        width: 40px; 
        padding: 24px 40px;
    }

    #first-section > div:last-of-type > div.mr-16px { margin: 0; }

    #urgent-tasks { width: 176px; }

    #progress-overview {
        flex-wrap: wrap;
        gap: 8px;
    }

    #progress-overview div {
        width: 100%;
        height: 60px; 
    }

    #sidebar > a { padding: 16px 0px; }

    div.priority > div img { width: 128px; }

    #body-add-tasks { overflow-x: hidden; }
}