body {
    margin: 0;
    background-color: #F6F7F8;
    width: 1440px;
    height: 1024px;
    font-family: 'Inter';
    position: relative;
}

a { text-decoration: none; }

/* Pseudo classes */
.flex { display: flex; }

.x-center { justify-content: center; }

.x-space-betw { justify-content: space-between; }

.y-center { align-items: center; }

.flex-column { flex-direction: column; }

.mb-16px { margin-bottom: 16px; }

.mb-24px { margin-bottom: 24px; }

.mb-28px { margin-bottom: 28px;}

.mb-32px { margin-bottom: 32px; }

.ml-39px { margin-left: 39px; }

.mr-16px { margin-right: 16px; }

.mr-32px { margin-right: 32px; }

.mr-35px { margin-right: 35px; }

.p-btn { padding: 15px 16px !important; }

.p-8px { padding: 8px; }

.gap-8px { gap: 8px; }

.gap-16px { gap: 16px; }

.gap-35px { gap: 35px; }

.fs-16px { font-size: 16px; }

.fs-20px { font-size: 20px; }

.fs-21px { font-size: 21px; }

.fs-27px { font-size: 27px; }

.fs-61px { font-size: 61px; }

.fw-400 { font-weight: 400; }

.fw-500 { font-weight: 500; }

.fw-700 { font-weight: 700; }

.ft-general {
    font-style: normal;
    line-height: 120%; 
}

.dark-blue { color: #2A3647; }

.w-100 { width: 100%; }
/* ------------------------------------- */

/* Login in section */ 
input {
    gap: 10px;
    outline: none;
    border: none;
}

.input-icon-pos {
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.icon-email { background-image: url(assets/img/mail.png); }

.icon-password { background-image: url(assets/img/lock.png); }

.btn-dark { 
    border-radius: 8px;
    background: #2A3647;
    color: #FFF;
    padding: 15px 24px;
}

.btn-light {
    border-radius: 8px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    background: var(--white, #FFF);
    color: var(--version-2-main-color, #2A3647);
    padding: 15px 24px;
}   

 .guestLogIn-btn {
    border-radius: 8px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    background: var(--white, #FFF);
 }

.log-in {
    display: inline-flex;
    padding: 48px 115px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04); 
}

.login-input {
    border-radius: 10px;
    width: 422px;
    border: 1px solid var(--Style, #D1D1D1);
    padding: 12px 21px;
}

.capa-2 {
    position: absolute;
    top: 80px;
    left: 77px;
}

.sign-up-section {
    position: absolute;
    top: 67px;
    right: 122px;
}

#privacy-policy {
    position: absolute;
    bottom: 40px;
    left: auto;
    right: auto; 
}

#privacy-policy a { color: #A8A8A8; }
/* ------------------------------------------------------------ */

/* Summary section */
.summary-container {
    position: absolute;
    top: 206px;
    left: 328px;
}

.general-box-style {
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.main-content-to-do { width: 560px; }

.spacing-to-do { 
    padding: 38px 19px;
    width: 226px;
    height: 92px;
}

.spacing-done { 
    padding: 38px 58px;
    width: 148px;
    height: 92px;
}

.urgency-summary {
    width: 464px;
    height: 112px;
    padding: 28px 48px;
}

.progress-view {
    width: 168px;
    height: 118px;
    padding: 25px 0;
}

.vertical-bl-line { padding: 0 30px; }

.vertical-gr-line { padding: 0 61px; }

.greet { 
    font-size: 47px;
    margin-left: 80px;
    width: 185px;
}

.img-to-do {
    width: 69px;
    height: 69px;
}
/* ------------------------------------------------------------ */

/* Side and top bar template */
.box-realtive { position: relative; }

.sidebar {
    position: absolute;
    z-index: 1;
    height: 1024px;
    width: 232px;
    padding: 64px 0;
    flex-shrink: 0;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.topbar {
    position: absolute;
    top: 0;
    width: 1440px;
    padding: 20px 40px 20px 348px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

#legal-notice { margin-top: 243px; }

.menu-choose { padding: 8px 56px; }

.link-col { color: #CDCDCD; }

.profil-icon {
    position: absolute;
    right: 54px;
}

/* ------------------------------------------------------------ */
